.container__heroes {
    width: 100%;
	margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
	text-transform: uppercase;
}

.container__heroes ul {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.container__heroes ul li {
	border: 2px solid #fbffff;
	border-radius: .3rem;
	transition: all .2s ease-in-out;
}

.container__heroes ul li:hover {
	transform: scale(1.1);
}

.container__heroes ul li a img {
    height: 225px;
    display: block;
    margin: 0 auto;
	background-color: #c8ddf8;
}

.hero__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background-color: #edf4fc;
}

.hero__text span {
    margin-bottom: .5rem;
}
