<div class="container__maps">
    <div class="maps__filter">
        <app-filter-button *ngFor="let filter of ['ALL', 'ASSAULT', 'CAPTURE-THE-FLAG', 'CLASH',
        'CONTROL', 'DEATHMATCH','ELIMINATION', 'ESCORT',
        'FLASHPOINT', 'HYBRID', 'PUSH']"
            [typeFilter]="filter"
            [isActive]="selectedFilter === filter"
            (filterChange)="handleFilterChange($event)"
        ></app-filter-button>
    </div>

    <app-map-card [activeFilter]="selectedFilter"></app-map-card>
</div>