<div class="container__navbar">
    <div class="navbar__hamburger-menu">
        <img src="assets/icons/burger-menu.svg" height="50px" alt="">
    </div>

    <div class="navbar__logo">
        <a [routerLink]="['/']"><img src="assets/icons/Overwatch_circle_logo.svg" alt="Overwatch Logo" height="50px"></a>
    </div>

    <div class="navbar__list">
        <ul>
            <li><a [routerLink]="['/']" [routerLinkActive]="['active']">Home</a></li>
            <li><a href="">About</a></li>
            <li><a [routerLink]="['/heroes']" [routerLinkActive]="['active']">Heroes</a></li>
            <li><a href="">Season</a></li>
            <li><a href="">News</a></li>
            <li><a href="https://www.linkedin.com/in/rafael-canova15/" target="_blank">LinkedIn</a></li>
            <li><a href="https://github.com/rpcanova/angular-overwatch-site.git" target="_blank">Github</a></li>
        </ul>
    </div>
</div>