.container__navbar {
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ebeff4;
    border-radius: .6rem;
}

.navbar__hamburger-menu {
    display: none;
    cursor: pointer;
}

.navbar__hamburger-menu img {
    max-width: 50px;
    max-height: 50px;
}

.navbar__logo {
    margin-right: 2rem;
}

.navbar__logo a img {
    max-width: 50px;
    max-height: 50px;
}

.navbar__list ul {
    display: flex;
    justify-content: center;
}

.navbar__list ul li {
    margin-right: 2rem;
    font-weight: bold;
}

.navbar__list ul li a {
    padding: 1rem;
    transition: .3s ease;
}

.navbar__list ul li a:hover {
    background-color: #0000000d;
    border-radius: .5rem;
}

.active {
    background-color: #0000000d;
    border-radius: .5rem;
}