<div class="container__navbar">
    <div class="navbar__logo">
        <img src="" alt="">
    </div>

    <div class="navbar__list">
        <ul>
            <li><a href="">Game Info</a></li>
            <li><a href="">Heroes</a></li>
            <li><a href="">Season</a></li>
            <li><a href="">News</a></li>
            <li><a href="https://www.linkedin.com/in/rafael-canova15/" target="_blank">LinkedIn</a></li>
            <li><a href="https://github.com/rpcanova/angular-overwatch-site.git" target="_blank">Github Repository</a></li>
        </ul>
    </div>
</div>