.container__filter-button button {
    width: 150px;
    margin-right: 1rem;
    padding: 1rem;
    border: 2px solid #fbffff;
    border-radius: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #c4daf2;
    font-size: 20px;
    font-weight: bold;
    opacity: .8;
    cursor: pointer;
    transition: all .3s ease;
    position: relative;
}

.container__filter-button button:hover {
    opacity: 1;
    background-color: #fff;
}

.container__filter-button button.active {
    opacity: 1;
    background-color: #fff;
}