@media (max-width: 768px) {
    .container__map-card ul {
        gap: 1rem;
        padding: 0 1rem;
    }
    
    .container__map-card ul li {
        width: 100%;
        max-width: 350px;
    }
    
    .map__description {
        height: 80px;
        padding: 1rem;
    }
    
    .map__description h4 {
        font-size: 1rem;
    }
    
    .map__description span {
        font-size: 0.8rem;
    }
}