<div class="container__navbar">
    <div class="navbar__hamburger-menu">
        <img src="assets/icons/burger-menu.svg" height="50" alt="">
    </div>

    <div class="navbar__logo">
        <a [routerLink]="['/']"><img src="assets/icons/overwatch_circle_logo_white.svg" alt="Overwatch Logo" height="50px"></a>
    </div>

    <div class="navbar__list">
        <ul>
            <li><a [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
            <li><a [routerLink]="['/herolist']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Heroes</a></li>
            <li><a [routerLink]="['/maplist']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Maps</a></li>
            <li><a [routerLink]="['/playerlist']">Players</a></li>
            <li><a href="https://www.linkedin.com/in/rafael-canova15/" target="_blank">LinkedIn</a></li>
            <li><a href="https://github.com/rpcanova/angular-overwatch-site.git" target="_blank">Github</a></li>
        </ul>
    </div>
</div>