<app-section>
    <app-title [title]="'Overview'"></app-title>
    <img src="assets/images/overwatch-image.jpg" alt="">
    <p>
        Overwatch 2 is a free-to-play multiplayer team-based first-person shooter developed and published by Blizzard Entertainment.
        It was released on May 24, 2016 for PlayStation 4, Windows, Xbox One, on October 15, 2019 for the
        Nintendo Switch, and August 10, 2023 on PlayStation 5 and Xbox Series X/S.
    </p>
    
    <p>
        Overwatch takes place on a near-future Earth, some time in the mid 2070s. Some thirty years before, robots
        turned against humanity in what became known as the Omnic Crisis. This eventually led to the formation of an
        elite strike team, who finally brought an end to the war. This team was the beginning of Overwatch, an
        international task force which tried to maintain global stability for two decades, until corruption tore it apart.
        Though Overwatch was disbanded, new crises are looming, and the world still needs heroes.
    </p>
</app-section>