<div class="container__home">
    <div class="home__title">
        <h1>Overview</h1>
    </div>

    <div class="home__about">
        <p>
            Overwatch 2 is a free-to-play multiplayer team-based first-person shooter developed and published by Blizzard Entertainment.
            It was released on May 24, 2016 for PlayStation 4, Windows, Xbox One,
            on October 15, 2019 for the Nintendo Switch, and August 10, 2023 on PlayStation 5 and Xbox Series X/S.
        </p>
    </div>
</div>
