* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Helvetica', sans-serif;
    color: #020200;
}

body {
    background-color: #5f96d6;
}